.button {
  position: relative;
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font: $typography-button;
  color: $color-vulcan-50;
  background-color: $color-vulcan-950;
  letter-spacing: $typography-letter-spacing;
  transition: 0.3s ease-in-out;
  align-self: center;
  align-items: center;

  &:hover {
    background-color: transparent;
    cursor: pointer;
  }

  &::before {
    @include gradient-border;
  }

  &--loading {
    & img {
      animation: rotateIcon 1s linear infinite;
    }
  }
}

@keyframes rotateIcon {
  to {
    transform: rotate(360deg);
  }
}
