.button {
  position: relative;
  display: flex;
  gap: 8px;
  padding: 8px 16px;
  border: none;
  text-align: center;
  border-radius: 6px;
  font: $typography-button;
  color: $color-vulcan-50;
  background-color: $color-vulcan-950;
  letter-spacing: $typography-letter-spacing;
  transition: 0.3s ease-in-out;
  align-self: center;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: transparent;
    cursor: pointer;
  }

  &::before {
    @include gradient-border;
  }

  &--loading {
    & img {
      animation: rotateIcon 1s linear infinite;
    }
  }

  &__icon {
    padding: 0;
    height: 100%;
    aspect-ratio: 1/1;

    img {
      height: 20px;
    }
  }

  &__icon-play {
    padding: 0 2px 0 0;
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: 4px;

    img {
      height: 16px;
    }
  }
}

@keyframes rotateIcon {
  to {
    transform: rotate(360deg);
  }
}
