.instructions {
  display: flex;
  flex-direction: column;
  height: 432px;
  width: 100%;
  max-width: 100%;
  justify-content: space-around;
  padding: 24px;
  background: rgba($color: $color-vulcan-950, $alpha: 0.7);
  border-radius: 8px;

  &__detail {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__keys {
    display: flex;
    align-items: center;

    & div {
      gap: 2px;
    }
  }

  &__key-cap {
    display: flex;
    justify-content: center;
    padding: 4px;
    font: 400 12px/1 sans-serif;
    align-items: center;
    width: 24px;
    color: $color-vulcan-950;
    background: $color-vulcan-50;
    height: 24px;
    border: 2px solid $color-vulcan-950;
    border-top: 1px solid $color-vulcan-900;
    border-left: 1px solid $color-vulcan-900;
    text-align: center;
    border-radius: 4px;

    &--space {
      width: 56px;
    }

    &--disabled {
      opacity: 0.7;
      color: $color-vulcan-950;
      background: $color-vulcan-50;
    }
    &--pressing {
      // opacity: 0.9;
      opacity: 0.7;
      color: $color-vulcan-950;
      background: $color-vulcan-50;
      transform: scale(0.9) translateY(2px);
    }
  }
}
