.instructions {
  display: flex;
  max-width: 100%;
  justify-content: space-around;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 8px;

  &__detail {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__keys {
    display: flex;
    align-items: center;

    & div {
      gap: 2px;
    }
  }

  &__key-cap {
    display: flex;
    justify-content: center;
    padding: 4px;
    font: 400 12px/1 sans-serif;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 2px solid black;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    text-align: center;
    border-radius: 4px;

    &--space {
      width: 56px;
    }

    &--disabled {
      opacity: 0.3;
    }
    &--pressing {
      // opacity: 0.9;
      border-width: 1px solid black;

      background: rgba(black, 0.1);
      transform: scale(0.9) translateY(2px);
    }
  }
}
