html,
body {
  font: $typography-body;
  color: $color-vulcan-50;
} 

#root {
  height: auto;
  min-height: 100vh;
  background-color: $color-vulcan-950;
  display: grid;
  place-items: center;
  .blur {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 0;
    overflow: hidden;



    &::after {
      @include shape-blob($shape-blob-pink);
    }
    &::before {
      @include shape-blob($shape-blob-purple);
    }
  }

  .inner {
    max-width: 1440px;
    z-index: 1;
    min-height: 100vh;
    width: 100%;
  }
}

@keyframes rotateBlur {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    transform-origin: 0 0;
  }
}

/*
  &.step-2 {
    .blur::before {
      left: 25%;
    }
    .blur::after {
      left: 50%;
    }
  }

  &.step-3 {
    .blur::before {
      top: 50%;
      left: 25%;
    }
    .blur::after {
      top: 50%;
      left: 50%;
    }
  }

*/
