.flex {
  &__col {
    display: flex;
    flex-direction: column;

    &--centered {
      align-items: center;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
  }
}

ul,
li {
  list-style: none;
}
