body.debug * {
  border: 1px solid red;
}

.flex {
  &__col {
    display: flex;
    flex-direction: column;

    &--centered {
      align-items: center;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
  }
}
