$typography-heading-1: 700 4.5rem/110% $font-family-primary;
$typography-heading-1-small: 700 1.75rem/120% $font-family-primary;

$typography-heading-2: 700 3rem/120% $font-family-primary;
$typography-heading-2-small: 700 1.5rem/140% $font-family-primary;

$typography-heading-3: 400 1.5rem/150% $font-family-primary;
$typography-heading-3-small: 400 1rem/170% $font-family-primary;

$typography-body: 400 1rem/160% $font-family-secondary;
$typography-body-small: 400 0.875rem/150% $font-family-secondary;
$typography-button: 700 1rem/160% $font-family-secondary;
$typography-caption: 700 1.5rem/160% $font-family-secondary;
$typography-letter-spacing: 0.03em;
