$color-vulcan-50: #f0f5fd;
$color-vulcan-100: #e4ecfb;
$color-vulcan-200: #cddbf8;
$color-vulcan-300: #afc2f2;
$color-vulcan-400: #8fa2ea;
$color-vulcan-500: #7383e1;
$color-vulcan-600: #5860d3;
$color-vulcan-700: #494fb9;
$color-vulcan-800: #3d4396;
$color-vulcan-900: #373c78;
$color-vulcan-950: #0e0f1e;
$color-hollywood-cerise-50: #fff0fc;
$color-hollywood-cerise-100: #ffe3fb;
$color-hollywood-cerise-200: #ffc6f7;
$color-hollywood-cerise-300: #ff98ee;
$color-hollywood-cerise-400: #ff58df;
$color-hollywood-cerise-500: #ff27cd;
$color-hollywood-cerise-600: #fe00ae;
$color-hollywood-cerise-700: #df008d;
$color-hollywood-cerise-800: #b80074;
$color-hollywood-cerise-900: #980363;
$color-hollywood-cerise-950: #5f0038;
$color-purple-heart-50: #fbf6fe;
$color-purple-heart-100: #f4ebfc;
$color-purple-heart-200: #ebdafa;
$color-purple-heart-300: #dcbdf5;
$color-purple-heart-400: #c792ee;
$color-purple-heart-500: #b168e4;
$color-purple-heart-600: #9c48d5;
$color-purple-heart-700: #8e39c5;
$color-purple-heart-800: #703198;
$color-purple-heart-900: #5c287b;
$color-purple-heart-950: #3f1259;

$to-right-hollywood-cerise-600-purple-heart-700: linear-gradient(
  90deg,
  $color-hollywood-cerise-600 0%,
  $color-purple-heart-700 100%
);
