.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 64px;

  &__title {
    text-align: center;
    font: $typography-heading-2;
  }

  &__subtitle {
    font: $typography-heading-3-small;
  }

  @include breakpoint-tablet {
    font: $typography-heading-1;
  }

  @include breakpoint-desktop {
    &__subtitle {
      font: $typography-heading-3;
    }
  }

  & main {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 640px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }
}
