.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 64px;
  color: white;

  &__title {
    font: $typography-heading-1;
  }

  &__subtitle {
    font: $typography-heading-3;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 640px;
  }
}
