.lyrics-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  gap: 64px;

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;

    &-wrapper {
      min-width: 125px;
    }

    &__title {
      font: $typography-body;
      letter-spacing: $typography-letter-spacing;
    }
  }

  & main {
    display: grid;
    place-items: center;
    width: 100%;
    max-width: 640px;
    gap: 32px;
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
  }
}
